<h1 align="center" class="create-title">Create an article</h1>
<% if @article.errors.any? %>
  <h3>The following errors prevented the article from being created</h3>
  <ul>
  <% @article.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= render 'layouts/form' %>