<html>
  <head>
    <title>
      Home
    </title>
  </head>
  <body>
    <div class="center jumbotron">
      <h1 class="display-1">Alpha</br>Blog</h1>
      <p class="lead">
        <%= link_to "Sign up now", signup_path, class: 'sign-up btn btn-primary btn-lg'%>
      </p>
    </div>
  </body>
</html>